@model Web.Models.Step
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Delete Step"];
}

<h1>@ViewData["Title"]</h1>

<h3>@Localizer["Are you sure you want to delete this?"]</h3>
<div class="panel panel-default">
    <table class="table">
        <tbody>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StepNumber)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.StepNumber)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StepTitle)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.StepTitle)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StepDescription)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.StepDescription)
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </form>
</div>
