@model Web.Models.Step
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Step Details"];
}

<h1>@ViewData["Title"]</h1>


<table class="table panel panel-default">
    <tbody>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.StepNumber)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.StepNumber)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.StepTitle)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.StepTitle)
            </td>
        </tr>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.StepDescription)
            </th>
            <td class="col-sm-10">
                @Html.DisplayFor(model => model.StepDescription)
            </td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
