@model IEnumerable<PlanYourVoteLibrary2.Step>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Steps"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.StepNumber)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.StepTitle)
            </th>
            <th class="col-md-6">
                @Html.DisplayNameFor(model => model.StepDescription)
            </th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StepNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StepTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StepDescription)
                </td>
                <td class="button-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
