@model IEnumerable<Web.Models.BallotIssue>
@using  Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Web
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = @Localizer["ballotIssues_index_title"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["createNewButton"]</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BallotIssueTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BallotIssueTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="button-group">
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.BallotIssueId">@Localizer["editButton"]</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.BallotIssueId">@Localizer["detailButton"]</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.BallotIssueId">@Localizer["deleteButton"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
