@model Web.Models.SocialMedia
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("socialMedia_detail_title");
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MediaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MediaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">@SharedLocalizer.GetLocalizedHtmlString("editButton")</a> 
    <a class="btn btn-info" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("backButton")</a>
</div>
