@model PlanYourVoteLibrary2.State
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Manage Elections"];
}

<h1>@ViewData["Title"]</h1>

<table class="table panel panel-default">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RunningElection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagedElection)
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(model => model.RunningElection.ElectionName)
            </td>
            <td>
                @Html.DisplayFor(model => model.ManagedElection.ElectionName)
            </td>
        </tr>
    </tbody>
</table>
<a asp-action="Edit" asp-route-id="@Model.StateId" class="btn btn-primary">@Localizer["Change"]</a>
