@model IEnumerable<PlanYourVoteLibrary2.Organization>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Organizations"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="button-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.OrganizationId">@Localizer["Edit"]</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.OrganizationId">@Localizer["Details"]</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.OrganizationId">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
