@model Web.Models.Election
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Delete Election"];
}

<h1>@ViewData["Title"]</h1>

<h3>@Localizer["Are you sure you want to delete this ?"]</h3>
<div class="panel panel-default">
    <table class="table">
        <tbody>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ElectionName)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.ElectionName)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ElectionId" />
        <input type="submit" value=@Localizer["Delete"] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </form>
</div>