@model Web.Models.Election
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Election Details"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <table class="table">
        <tbody>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ElectionName)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.ElectionName)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
        </tbody>
    </table>
    <a asp-action="Edit" asp-route-id="@Model.ElectionId" class="btn btn-primary">@Localizer["Edit"]</a>
</div>
<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
