@model Web.Models.Election
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Details"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <h4>
        @Localizer["Election"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateStart)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateStart)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateEnd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ElectionId">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
