@model IEnumerable<PlanYourVoteLibrary2.Election>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["All Elections"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.ElectionName)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th class="col-sm-5">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ElectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="button-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ElectionId">@Localizer["Edit"]</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ElectionId">@Localizer["Details"]</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ElectionId">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
