@model Web.ViewModels.CandidateViewModel

@{ 
    var lastIndex = Model.Candidate.Details.Count - 1;
}

<script src="https://cdn.tiny.cloud/1/nausdmhpot3ooouthd7kcs9tqpnqev62z87mt9anwycldlbd/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
        tinyMCE.init({
            mode : "textareas"
        });
</script>


<div>
    <p class="lead">Detail @(lastIndex+1)</p>
    <button type="button" id="removeDetail_@lastIndex" class="btn btn-primary" onclick="removeDetail(@lastIndex)">Remove Detail</button>
</div>
<div class="form-group">
    @Html.LabelFor(c => c.Candidate.Details[lastIndex].Title, new { @class = "control-label" })
    @Html.TextBoxFor(c => c.Candidate.Details[lastIndex].Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(c => c.Candidate.Details[lastIndex].Title, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(c => c.Candidate.Details[lastIndex].Text, new { @class = "control-label" })
    @Html.TextAreaFor(c => c.Candidate.Details[lastIndex].Text, new { @class = "form-control", @rows = 10 })
    @Html.ValidationMessageFor(c => c.Candidate.Details[lastIndex].Text, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(c => c.Candidate.Details[lastIndex].Format, new { @class = "control-label" })
    @Html.DropDownListFor(c => c.Candidate.Details[lastIndex].Format, Html.GetEnumSelectList(typeof(CandidateDetailFormat)), "", new { @class = "form-control" })
    @Html.ValidationMessageFor(c => c.Candidate.Details[lastIndex].Text, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(c => c.Candidate.Details[lastIndex].Lang, new { @class = "control-label" })
    @Html.DropDownListFor(c => c.Candidate.Details[lastIndex].Lang, Html.GetEnumSelectList(typeof(Language)), "", new { @class = "form-control" })
    @Html.ValidationMessageFor(c => c.Candidate.Details[lastIndex].Lang, "", new { @class = "text-danger" })
</div>
<hr />