@model Web.Models.Candidate
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Details"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <h4>@Localizer["Candidate"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            @{
                var url = "../../" + Model.Picture;
                <img width="150" height="150" src="@url">
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>
        @*
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Contacts)
            </dt>
            <dd class="col-sm-10">
                @foreach (var i in Model.Contacts)
                {
                    @i.ContactMethod
                    @i.ContactValue
                }
            </dd>
        *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CandidateId">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
