@model Web.Models.Candidate
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit"];
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
</script>

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <h4>@Localizer["Candidate"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CandidateId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Picture" class="control-label"></label><br />
                    <input asp-for="Picture" type="file" name="image" />
                    <span asp-validation-for="Picture" class="text-danger">@ViewData["ImageMessage"]</span>
                </div>
                <div class="form-group">
                    <label asp-for="OrganizationId" class="control-label"></label>
                    <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId"></select>
                    <span asp-validation-for="OrganizationId" class="text-danger"></span>
                </div>
                <div>
                    <h4><label asp-for="Details" class="control-label"></label></h4>
                    <hr />
                    <input type="hidden" id="removedDetails" name="removedDetails" value="" />
                </div>
                <div id="allDetails">
                    @for (int i = 0; i < Model.Details.Count; i++)
                    {
                    <div id="detail_@i">
                        <div>
                            <p class="lead">Detail @(i + 1)</p>
                            <button type="button" id="removeDetail_@i" class="btn btn-primary">Remove Detail</button>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.Details[i].Title, new { @class = "control-label" })
                            @Html.TextBoxFor(c => c.Details[i].Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Details[i].Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.Details[i].Text, new { @class = "control-label" })
                            @Html.TextAreaFor(c => c.Details[i].Text, new { @class = "form-control", @rows = 10 })
                            @Html.ValidationMessageFor(c => c.Details[i].Text, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.Details[i].Format, new { @class = "control-label" })
                            @Html.DropDownListFor(c => c.Details[i].Format, Html.GetEnumSelectList(typeof(CandidateDetailFormat)), "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Details[i].Text, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.Details[i].Lang, new { @class = "control-label" })
                            @Html.DropDownListFor(c => c.Details[i].Lang, Html.GetEnumSelectList(typeof(Language)), "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Details[i].Lang, "", new { @class = "text-danger" })
                        </div>

                        <script type="text/javascript">
                            $("#removeDetail_@i").click(function () {
                                $(this.parentNode.parentNode).attr("style", "display:none");
                                let id = $(this.parentNode.parentNode).attr("id");
                                if (id != null) {
                                    let index = id.charAt(id.length - 1);
                                    $("#removedDetails").attr("value", $("#removedDetails").attr("value") + index + ",");
                                }
                            });
                        </script>
                    </div>
                    }
                </div>
                
                <script type="text/javascript">
                    $(document).ready(function () {
                        function getLast(div) {
                            if ($(div).children().length === 0) {
                                return -1;
                            }
                            let id = $(div).children().last().attr("id");
                            return parseInt(id.charAt(id.length - 1));
                        }

                        $("#addDetail").click(function () {
                            let count = getLast("#allDetails") + 1;
                            $("#allDetails").append($(document.createElement("div")).attr("id", "detail_" + count));
                            $("#detail_" + count)
                                .load('@Url.Action("GetFields", "Candidates")',
                                    { "count": count },
                                    function (response, status, xhr) {
                                        if (status == "error") {
                                            alert("An error occurred while loading the detail fields.");
                                        }
                                    });
                        });
                    });
                </script>
                <div>
                    <button type="button" id="addDetail" class="btn btn-primary">Add a Candidate Detail</button>
                </div>
                <div class="form-group">
                    <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
