@model IEnumerable<VotingModelLibrary.Models.Candidate>

@{
    ViewData["Title"] = "Candidates Info";
}

<h1>Candidates Info</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <img width="80" height="80" src="@Html.DisplayFor(modelItem => item.Picture)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Name)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.CandidateId">Edit</a>|
                <a asp-action="Details" asp-route-id="@item.CandidateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CandidateId">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>