@model Web.ViewModels.CandidatesByRaceViewModel
@using  Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Web
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = @Localizer["candidates_index_title"];
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
</script>

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["createNewButton"]</a>
</p>
<div class="panel panel-default">
    <div class="row vert-center">
        <div class="col-xs-4 col-sm-3 text-center">
            <h5>Sort by:</h5>
        </div>
        <div class="col-xs-8 col-sm-9">
            <div class="btn-group-sm btn-group-toggle candidate-sort-btns" data-toggle="buttons">
              <label class="btn btn-primary col-sm-3  active">
                <input type="radio" name="options" id="option1" autocomplete="off" onchange="getCandidates('ballot-order')" checked>@Localizer["candidates_index_order"]
              </label>
              <label class="btn btn-primary col-sm-3 ">
                <input type="radio" name="options" id="option2" autocomplete="off" onchange="getCandidates('alphabet')"> @Localizer["candidates_index_orderAZ"]
              </label>
              <label class="btn btn-primary col-sm-3">
                <input type="radio" name="options" id="option3" autocomplete="off" onchange="getCandidates('reverse-alphabet')"> @Localizer["candidates_index_orderZA"]
              </label>
            </div>
            @* <button type="button" class="btn btn-primary col-xs-12 col-md-4" onclick="getCandidates('ballot-order')">Ballot Order</button> *@
            @* <button type="button" class="btn btn-primary col-xs-12 col-md-4" onclick="getCandidates('alphabet')">Name A-Z</button> *@
            @* <button type="button" class="btn btn-primary col-xs-12 col-md-4" onclick="getCandidates('reverse-alphabet')">Name Z-A</button> *@
        </div>
    </div>
</div>
<div id="list-candidates" class="panel panel-default">
    @{ await Html.RenderPartialAsync("CandidateList", Model); }
</div>

<script>
    function getCandidates(orderType) {
        $('#list-candidates').empty();
        $('#list-candidates').load('@Url.Action("GetCandidates", "Candidates")',
                                    { "orderBy": orderType },
                                    function (response, status, xhr) {
                                        if (status == "error") {
                                            alert("An error occurred while loading the candidates.");
                                            console.log(xhr.status + " " + xhr.statusText);
                                        }
                                    });
    }
</script>
