@model Web.ViewModels.CandidatesByRaceViewModel
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Index"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
</p>
<div class="panel panel_default">
    @foreach(var race in Model.Races)
    {
        <h5>@Html.DisplayFor(model => race.PositionName)</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidatesByRace.First().First().Candidate.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidatesByRace.First().First().Candidate.Picture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CandidatesByRace.First().First().Candidate.Organization)
                    </th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var group = Model.CandidatesByRace.Where(g => g.First().RaceId == race.RaceId);
                }

                @if (group != null && group.ToList().Count > 0)
                {
                    @foreach (var candidateRace in group.First())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(cr => candidateRace.Candidate.Name)
                            </td>
                            <td>
                                <img width="80" height="80" src="@Html.DisplayFor(cr => candidateRace.Candidate.Picture)" />
                            </td>
                            <td>
                                @Html.DisplayFor(cr => candidateRace.Candidate.Organization.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@candidateRace.CandidateId">@Localizer["Edit"]</a> |
                                <a asp-action="Details" asp-route-id="@candidateRace.CandidateId">@Localizer["Details"]</a> |
                                <a asp-action="Delete" asp-route-id="@candidateRace.CandidateId">@Localizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <hr />
    }
    <h5>Unlisted Candidates</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UnlistedCandidates.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnlistedCandidates.First().Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnlistedCandidates.First().Organization)
                </th>
                <th class="col-sm-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var candidate in Model.UnlistedCandidates)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => candidate.Name)
                </td>
                <td>
                    <img width="80" height="80" src="@Html.DisplayFor(model => candidate.Picture)" />
                </td>
                <td>
                    @Html.DisplayFor(model => candidate.Organization.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@candidate.CandidateId">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@candidate.CandidateId">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@candidate.CandidateId">@Localizer["Delete"]</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
