@model IEnumerable<PlanYourVoteLibrary2.Image>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Images"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th style="word-break: break-word">
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td style="width: 600px; word-break: break-word">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="button-group">
                    @Html.ActionLink("Edit", "Edit", new { ID = item.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { ID = item.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { ID = item.ID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
}
    </tbody>
</table>
