@model Web.ViewModels.ThemesViewModel
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("themes_index_title");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/Themes.css"/>

<div class="panel panel-default col-sm-5">
    <form asp-controller="Themes" asp-action="Index" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("themes_index_selectLabel")</label>
            <select asp-for="SelectedTheme" asp-items="Model.Themes"></select>
            <div>
                @if (ViewData["Error"] != null) {
                    <p>
                        <strong>@SharedLocalizer.GetLocalizedHtmlString("themes_index_error")</strong> @ViewData["Error"].ToString()</p>
                }
                @if (TempData["Success"] != null) {
                    <p>
                        <strong>@SharedLocalizer.GetLocalizedHtmlString("themes_index_success")</strong> @TempData["Success"].ToString()</p>
                }
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">@SharedLocalizer.GetLocalizedHtmlString("saveButton")</button>
    </form>
    <form asp-controller="Themes" asp-action="UploadFile" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label class="control-label">Logo:</label>
            <input type="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">@SharedLocalizer.GetLocalizedHtmlString("saveButton")</button>
    </form>
</div>