@model Web.ViewModels.UserRoleViewModel
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit"];
    string yes = "YES";
    string no = "NO";
}

<h1>@Localizer["Edit User Roles"]</h1>
<h1>
    @TempData["info"]
</h1>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
<dl class="row col-lg-6 well bs-component">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.user.UserName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.user.UserName)
    </dd>
    <hr>
    @foreach (var item in ViewBag.roles)
    {
        <dt class="col-sm-4">
            @item.Name
        </dt>

        @if (!Model.roles.Contains(item))
        {
            <dd class="col-sm-4">
                @no
            </dd>
            <dd class="col-sm-4">
                @Html.ActionLink(" Add  ", "AddUserRole", "UserRoleViewModels", new { id = item.Id , id2 = Model.userId },
                    new { @class = "btn btn-primary btn-block", @role = "button" })
            </dd>
        }
        @if (Model.roles.Contains(item))
        {
            <dd class="col-sm-4">
                @yes
            </dd>
            <dd class="col-sm-4">
                @Html.ActionLink("Del", "DeleteUserRole", "UserRoleViewModels", new { id = item.Id , id2 = Model.userId },
                    new { @class = "btn btn-danger btn-block", @role = "button" })
            </dd>
        }

    }



</dl>


