@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit"];
}

<h1>@ViewData["Title"]</h1>

<h4>@Localizer["Edit Roles"]</h4>
<hr />
<a asp-action="CreateRole">@Localizer["Create A New Role"]</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="">e</a> -->
                    <a asp-action="DeleteRole" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

