@model IEnumerable<Web.ViewModels.UserRoleViewModel>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Index"];
    ViewData["register"] = @Localizer["Register"];
}

<h1>@Localizer["Role Management"]</h1>

<p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@ViewData["register"]</a></p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">@Localizer["Edit"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>