@model IEnumerable<Web.ViewModels.UserRoleViewModel>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Index"];
}

<h1>@Localizer["Role Management"]</h1>

<p>
    <a asp-action="CreateRole">@Localizer["Create A New Role"]</a> |
    <a asp-action="EditRole">@Localizer["Role List"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.userId">@Localizer["Edit"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
