@model Web.Models.CandidateDetail
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Create"];
}
<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">

    <h4>@Localizer["CandidateDetail"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CandidateId" class="control-label"></label>
                    <select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateIds"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text" class="control-label"></label>
                    <input asp-for="Text" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Format" class="control-label"></label>
                    <select asp-for="Format" asp-items="@Html.GetEnumSelectList(typeof(CandidateDetailFormat))" class="form-control"></select>
                    <span asp-validation-for="Format" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lang" class="control-label"></label>
                    <select asp-for="Lang" asp-items="@Html.GetEnumSelectList(typeof(Language))" class="form-control"></select>
                    <span asp-validation-for="Lang" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index"> @Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
