@model PlanYourVoteLibrary2.PollingPlace
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Create New Polling Place"];
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
</script>

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PollingPlaceName" class="control-label"></label>
            <input asp-for="PollingPlaceName" class="form-control" />
            <span asp-validation-for="PollingPlaceName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PollingStationName" class="control-label"></label>
            <input asp-for="PollingStationName" class="form-control" />
            <span asp-validation-for="PollingStationName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Latitude" class="control-label"></label>
            <input asp-for="Latitude" class="form-control" />
            <span asp-validation-for="Latitude" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Longitude" class="control-label"></label>
            <input asp-for="Longitude" class="form-control" />
            <span asp-validation-for="Longitude" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AdvanceOnly" class="control-label"></label>
            <input asp-for="AdvanceOnly" class="form-control" />
            <span asp-validation-for="AdvanceOnly" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LocalArea" class="control-label"></label>
            <input asp-for="LocalArea" class="form-control" />
            <span asp-validation-for="LocalArea" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WheelchairInfo" class="control-label"></label>
            <input asp-for="WheelchairInfo" class="form-control" />
            <span asp-validation-for="WheelchairInfo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ParkingInfo" class="control-label"></label>
            <input asp-for="ParkingInfo" class="form-control" />
            <span asp-validation-for="ParkingInfo" class="text-danger"></span>
        </div>

        <h4><label asp-for="PollingPlaceDates" class="control-label"></label></h4>
        <input type="hidden" id="removedDates" name="removedDates" value="" />
        <div id="polling-dates">
            <div class="date-group">
                @{ await Html.RenderPartialAsync("PollingDate", Model); }
            </div>
        </div>

        <script>
            function addDate() {
                let count = getCount(".date-group");

                $("#polling-dates").append($(document.createElement("div")).attr("class", "date-group")
                    .load('@Url.Action("GetDateFields", "PollingPlaces")',
                        { "count": count },
                        function (response, status, xhr) {
                            if (status === "error") {
                                alert("An error occurred while loading the date fields.");
                            }
                        })
                );
            }
        </script>
        <button id="AddDateField" type="button" role="button" class="btn btn-primary" onClick="addDate()">
            @Localizer["Add an operating date/time"]
        </button>
        <div class="form-group">
            <input type="submit" value=@Localizer["Create"] class="btn btn-primary" />
        </div>
    </form>
</div>
    <div>
        <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
