@model IEnumerable<PlanYourVoteLibrary2.PollingPlace>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Polling Places"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PollingPlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PollingStationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PollingPlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PollingStationName)
            </td>
            <td class="button-group">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.PollingPlaceId">@Localizer["Edit"]</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.PollingPlaceId">@Localizer["Details"]</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.PollingPlaceId">@Localizer["Delete"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>
