@model PlanYourVoteLibrary2.PollingPlace
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var lastIndex = Model.PollingPlaceDates.Count - 1;
}

<span>@Localizer["Date " + (lastIndex+1)]</span>
<button type="button" role="button" class="btn btn-primary" onclick="removeDate(@lastIndex)">@Localizer["Remove Date"]</button>
<div class="form-group">
    @Html.LabelFor(model => model.PollingPlaceDates[lastIndex].PollingDate, new { @class = "control-label" })
    @Html.EditorFor(model => model.PollingPlaceDates[lastIndex].PollingDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
    @Html.ValidationMessageFor(model => model.PollingPlaceDates[lastIndex].PollingDate, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.PollingPlaceDates[lastIndex].StartTime, new { @class = "control-label" })
    @Html.EditorFor(model => model.PollingPlaceDates[lastIndex].StartTime, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
    @Html.ValidationMessageFor(model => model.PollingPlaceDates[lastIndex].StartTime, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.PollingPlaceDates[lastIndex].EndTime, new { @class = "control-label" })
    @Html.EditorFor(model => model.PollingPlaceDates[lastIndex].EndTime, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
    @Html.ValidationMessageFor(model => model.PollingPlaceDates[lastIndex].EndTime, "", new { @class = "text-danger" })
</div>
<hr />