@model Web.Models.Race
@using  Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Web
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = @Localizer["races_delete_title"];
}

<h1>@ViewData["Title"]</h1>

<h3>@Localizer["deleteWarning"]</h3>
<div class="panel panel-default">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BallotOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BallotOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateRaces)
        </dt>
        <dd class="col-sm-10">
            @if (ViewBag.Candidates != null)
            {
                <ul>
                    @{
                        var candidates = (List<Candidate>)ViewBag.Candidates;
                    }

                    @foreach (var candidate in candidates)
                    {
                        if (Model.CandidateRaces.Exists(model => model.CandidateId == candidate.CandidateId))
                        {
                            <li>
                                @Html.DisplayFor(model => candidate.Name)
                            </li>
                        }
                    }
                </ul>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <div>
            <span class="text-danger">WARNING: Deleting this race will remove all candidates from the running.</span>
        </div>

        <input type="hidden" asp-for="RaceId" />
        <input type="submit" value=@Localizer["deleteButton"] class="btn btn-danger" /> 
        <a class="btn btn-info" asp-action="Index">@Localizer["backButton"]</a>
    </form>
</div>
