@model Web.Models.Race
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Race Details"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <table class="table">
        <tbody>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BallotOrder)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.BallotOrder)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PositionName)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.PositionName)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumberNeeded)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.NumberNeeded)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CandidateRaces)
                </th>
                <td class="col-sm-10">
                    @if (ViewBag.Candidates != null)
                    {
                        <ul>
                            @{
                                var candidates = (List<Candidate>)ViewBag.Candidates;
                            }

                            @foreach (var candidate in candidates)
                            {
                                if (Model.CandidateRaces.Exists(model => model.CandidateId == candidate.CandidateId))
                                {
                                    <li>
                                        @Html.DisplayFor(model => candidate.Name)
                                    </li>
                                }
                            }
                        </ul>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RaceId">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
