@model PlanYourVoteLibrary2.Race
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Race Details"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BallotOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BallotOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateRaces)
        </dt>
        <dd class="col-sm-10">
            @if (ViewBag.Candidates != null)
            {
                <ul>
                    @{
                        var candidates = (List<Candidate>)ViewBag.Candidates;
                    }

                    @foreach (var candidate in candidates)
                    {
                        if (Model.CandidateRaces.Exists(model => model.CandidateId == candidate.CandidateId))
                        {
                            <li>
                                @Html.DisplayFor(model => candidate.Name)
                            </li>
                        }
                    }
                </ul>
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.RaceId">@Localizer["Edit"]</a> |
    <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
</div>
