@model IEnumerable<PlanYourVoteLibrary2.Race>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Races"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["Create New"]</a> | 
    <a class="btn btn-primary" asp-action="Reorder">@Localizer["Edit Ballot Order"]</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberNeeded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberNeeded)
            </td>
            <td class="button-group">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RaceId">@Localizer["Edit"]</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.RaceId">@Localizer["Details"]</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.RaceId">@Localizer["Delete"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>
