@model IEnumerable<VotingModelLibrary.Models.Contact>
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Index"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Candidate.CandidateId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContactId">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ContactId">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContactId">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
