@model Web.ViewModels.ThemesViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Change Theme"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/Themes.css"/>

<div class="panel panel-default col-sm-5">
    <form asp-controller="Themes" asp-action="Index" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label class="control-label">@Localizer["Selected Theme:"]</label>
            <select asp-for="SelectedTheme" asp-items="Model.Themes"></select>
            <div>
                @if (ViewData["Error"] != null) {
                    <p>
                        <strong>Error: </strong> @ViewData["Error"].ToString()</p>
                }
                @if (TempData["Success"] != null) {
                    <p>
                        <strong>Success!</strong> @TempData["Success"].ToString()</p>
                }
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Save</button>
    </form>
    <form asp-controller="Themes" asp-action="UploadFile" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label class="control-label">Logo:</label>
            <input type="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Save</button>
    </form>
</div>