@model PlanYourVoteLibrary2.SocialMedia
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Social Media Icon Details"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MediaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MediaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"]</a> |
    <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
</div>
