@model IEnumerable<PlanYourVoteLibrary2.SocialMedia>

@{
    ViewData["Title"] = "Social Media Icons";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table panel panel-default">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MediaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MediaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td class="button-group">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
