@model IEnumerable<Web.Models.SocialMedia>
@using Microsoft.Extensions.Localization
@using Web
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = @Localizer["socialMedia_index_title"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@Localizer["createNewButton"]</a>
</p>
<div class="table-responsive-sm">
<table class="table panel panel-default">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MediaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MediaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td class="button-group">
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ID">@Localizer["editButton"]</a>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.ID">@Localizer["detailButton"]</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ID">@Localizer["deleteButton"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
